<ion-view style="" class=" " id="page1" title="Tabs Controller">
    <ion-tabs style="" id="tabsController-tabs1" class="tabs-stable  ">
        
		<ion-tab  id="tabsController-tab1" title="Iniciar sesión"  href="#/inicio/login">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
		
        <ion-tab  id="tabsController-tab3" title="Registrate"  href="#/inicio/registrarse">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
		
		
    </ion-tabs>

</ion-view>